.tabbed {
  overflow-x:hidden;
}

.tabs [type="radio"] {
  display:none;
}
.tabs {
  display:flex;
  flex-flow:column nowrap;
  align-items:stretch;
  list-style:none;
}
.tabs nav ul {
  margin:0;
  padding:0 1rem;
  display:flex;
  flex-flow:row wrap;
  gap:0.5rem;
}

.tab {
  margin:0;
}
.tab label {
  position:relative;
  bottom:-1px;
  display:block;
  padding:0 5px;
  cursor:pointer;
  border-bottom:0;
}

.tab-content {
  display:none;
  padding:1rem;
}

.tabs [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabs [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabs [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3) {
	display:block;
}