:root {
  --tx:#c0c0c0;
  --ac:#1ead1e;
  --bd:#125544;
  --fg:#111;
  --bg:#0f0f13;
}

body {
  font-family:monospace;
  color:var(--tx);
  background:var(--bg);
  background:url('/~images/bg/grid-blgr.gif');
}

main {
  margin:auto;
  padding:1rem;
  width:1000px;
  min-height:100vh;
  background:var(--fg);
  border-left:1px solid var(--ac);
  border-right:1px solid var(--ac);
}

code pre {
  margin:auto;
  width:min-content;
  max-width:100%;
  text-shadow:0 0 0 var(--ac);
  overflow:auto;
}

h1 {
  display:none;
  text-align:center;
  font-size:3rem;
  text-shadow:2px 2px 0 var(--ac);
}

h2 {
  font-size:2rem;
  text-align:center;
  text-transform:uppercase;
  text-shadow:1px 1px 0 var(--ac);
}

table, th, td {
  border:1px solid var(--bd);
}
table {
  width:100%;
}
th, td {
  padding:0.5rem;
  font-size:90%;
}
th img {
  margin:auto;
  display:block;
  transition:200ms;
  image-rendering:pixelated;
}
th img:hover {
  transform:scale(2);
}

a {
  color:var(--ac);
}
a:hover {
  color:var(--tx);
}

@media (max-width:1000px) {
  main {
    width:95%;
  }
  code pre {
    display:none;
  }
  h1 {
    display:block;
  }
}